hmm.fst
hmm.ps
lx.fst
lx.ps
lx2pn.fst
lx2pn.osyms
md.fst
md.ps
md2hmm.fst
md2hmm.osyms
md2hmm.ps
pn.fst
pn.ps
pn2md.fst
pn2md.osyms
pn2md.ps
wd.isyms
wd2.fst
wd2.ps
wd2lx.fst
wd2lx.osyms

addsil.fst
addsil.isyms
addsil.osyms
wd3.fst
wd3.isyms
wd3sil.fst
wd3sil.ps

src/lab4_vit
